body{
  background-color: lightgray;
}
#convert {
    background-color: lightgreen;
  }
  #convert:hover {
    background-color:lightpink;
  }
  h1 {
    font-family: sans-serif;
    color: black;
    text-align: center;
  }
  input {
    display: block;
    margin-top: 100px;
    margin-left: 520px;
    font-size: 2em;
    color: #f4a55a;
    font-family: cursive, sans-serif;

  }
  ::-webkit-input-placeholder {
     color: #ccc;
  }
  :-moz-placeholder { /* Firefox 18- */
     color: #ccc;  
  }
  ::-moz-placeholder {  /* Firefox 19+ */
     color: #ccc;  
  }
  :-ms-input-placeholder {  
     color: #ccc;  
  }
   #convert{
    padding: 21px;
    font-size: 1.2em;
    color: #545454;
    margin-left: 520px;
    margin-top: 105px;
  }
 #clear {
  padding: 21px;
  font-size: 1.2em;
  color: #545454;
  margin-left: 12px;
  margin-top: 100px;
  }